.alice-carousel__prev-btn-item span::after,
.alice-carousel__next-btn-item span::after {
  color: white;
  text-transform: uppercase !important;
}

.alice-carousel__prev-btn-item span,
.alice-carousel__next-btn-item span {
  border: 1px solid #fff;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
