@import "reset";
@import "header";
@import "weatherSearch";
@import "weatherCards";
@import "signIn";
@import "registrations";
@import "usersWeather";
@import "~react-alice-carousel/lib/scss/alice-carousel";
@import "carousel";
@import "~react-toastify/scss/main";
@import "media";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  height: 100%;
  background: url(../images/2.jpeg) no-repeat fixed;
  background-position: 0 0;
  background-size: cover;
  scroll-behavior: smooth;
  position: absolute;
  padding-bottom: 30px;
  width: 100%;
  z-index: 0;
  &:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    mix-blend-mode: multiply;
    background-color: #000;
  }
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    background-color: #737373;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
  }
}

.wrap {
  position: absolute;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.input {
  border: 1px solid #fff;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  &::placeholder {
    color: #d6d6d6;
  }
  &:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
}

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

.btn {
  padding: 7px 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 18px;
  mix-blend-mode: screen;
}

.bordered-btn {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}

.toaster {
  font-size: 20px;
}
.toaster-none {
  display: none;
}

.wraper-load {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wraper-load-fetch {
  display: flex;
  justify-content: center;
}
