@import 'reset';
@import 'header';
body {
  color: black;
}

button {
  width: 200px;
  height: 100px;
}


.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
